<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TheGreatFollowUpper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TheGreatFollowUpper.Properties.Settings>
            <setting name="DefaultMoveToInbox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultOtherDayReminder" serializeAs="String">
                <value>08:30:00</value>
            </setting>
            <setting name="DefaultSameDayReminder" serializeAs="String">
                <value>18:00:00</value>
            </setting>
            <setting name="Licenses" serializeAs="String">
                <value>["822c4baaba38162992e2a054f4da03a3","20599363c00c20dea8ee1cfdcb1a90e9","4bd2bc3a31d7bc0cf514c7c77bab9b31","9d197e938ac252d7ec537b348bd191bc","3b946df7f73c1dd749cf09d1878e4004","ac4dd429914363804b355575f4c1d976","78c9cc4dcb6cdad77b904d0980d901c9","f3b532ce159f09aae1ab7a385fdb078e"]</value>
            </setting>
            <setting name="IgnoreSentItemsBeforeHours" serializeAs="String">
                <value>-4</value>
            </setting>
            <setting name="AutoCloseFormAfterSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DefaultClearFlagOnReply" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoTaskDump" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FlagRequests" serializeAs="String">
                <value>["Follow up", "Waiting For", "Do"]</value>
            </setting>
            <setting name="FlagRequestsLoaded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SupressCancelDialogSeconds" serializeAs="String">
                <value>-2</value>
            </setting>
        </TheGreatFollowUpper.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>