<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheGreatFollowUpper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TheGreatFollowUpper.Properties.Settings>
            <setting name="DefaultMoveToInbox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultOtherDayReminder" serializeAs="String">
                <value>09:00:00</value>
            </setting>
            <setting name="DefaultSameDayReminder" serializeAs="String">
                <value>18:00:00</value>
            </setting>
        </TheGreatFollowUpper.Properties.Settings>
    </userSettings>
</configuration>